[Unit]
Description=Aurora MQTT Bridge

[Service]
User=pi
ExecStart=/usr/local/bin/aurora_mqtt_bridge /dev/ttyUSB0 mqtt://localhost/
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
